<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Thanks for visiting the about me on my Rails Sample App. Check out my GitHub <a href="https://github.com/tidfiellan"><em>here</em></a>. Tidfiellan is a made up word using Old English and Old Saxon. The word means 'time falls'.
</p>